.messages-target {
	width: 500px;
}

	.new-message {
		font-size: 20px;
		width: 478px;
		height: 100px;
		padding: 10px;
	}

	.messages-target .submit-button {
		margin: 0px;
		float: right;

	}

	.messages-list {
		width: inherit;
		margin: 35px 0px;
		position: relative;
		top:0px;
	}
		.messages-list > li {
			padding: 5px 15px 20px 15px;
			font-size: 20px;
			background-color: #d9ffcc;
			margin-bottom: 2px;
		}

		.messages-list > li:nth-child(odd) {
			background-color: #ecffe6;
		}
		
			.message-date {
				color: #cdcdb1;
				font-size: 13px;
				float: right;
			}
			.message-author {
				font-weight: bold;
				text-decoration: underline;
			}

